{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Main </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles.css' %}">
    <!-- <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script> -->

</head>
<body>
    <!-- <form action="" method="post">
        {% csrf_token %}
        <p>{{budget_form.as_p}}</p>
        <button type="submit">submit</button>
    </form> -->
    {% for item in items %}

    <div>
        <h1>{{item.expense_name}}</h1>
        <small>{{item.expense_type}}</small><br>
        {% if item.expense_type == 'income' %}
        <small>{{item.price}}$</small><br>
        {% else %}
        <small>{{item.price}}$</small><br>
        {% endif %}
        <small>{{item.time_purchased}}</small><br>
        <a href="{% url 'delete-item' item.id %}"><button>Delete</button></a>
    </div> 

    {% endfor %}
    <div>
        <h1>Total Expenses is : {{expenses|floatformat:2}}$</h1>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit">
    </form>


</body>
</html>